.nav {
    margin: 10px !important;
}

article>section:nth-child(3n+1) {
    background: pink;
    border: dashed 5px red;
}
article>section:nth-child(3n+2) {
    background: green;
    border: solid 4px darkgreen;
}
article>section:nth-child(3n+3) {
    background: orange
}


article>section>section {
    margin: 10px;
}
article>section>section:nth-child(3n+1) {
    background: greenyellow
}
article>section>section:nth-child(3n+2) {
    background: mediumpurple;
    border: solid 7px darkblue;
}
article>section>section:nth-child(3n+3) {
    background: sandybrown;
    border: solid 9px red;
}